body {
	font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.clear {
	clear: both;
}
.center {
	margin: 0 50%;
}
.credit {
	float: left;
}
.social a {
	display: inline;
}
.wrapper {
	width: 100%;
}
h1 {
	font-size: 50px;
	text-align: center;
	padding: 20px 0;
	font-family: 'Playfair Display', serif;
}
h2 {
	font-size: 24px;
	text-align: center;
	font-family: 'Playfair Display', serif;
	background: #1e78bd;
	padding: 5px 20%;
	color: #fff;
}
h4 {
	font-size: 20px;
	margin: 20px auto;
	font-family: 'Playfair Display', serif;
}
ul {
	list-style-type: none;
}
header {
	margin: 0 auto;
}
.headlogo {
	margin-bottom: -16px;
}
.main {
	text-align: center;
	background: #1e78bd;
	font-size: 24px;
}
.main ul {
	margin: 0 auto;
}
.main ul li {
	padding: 10px;
}
.main ul li:hover {
	cursor: pointer;

}
.main ul li a {
	color: #fff;
	text-decoration: none;
}
.intro {
	background: #1e78bd;
	color: #fff;
	margin-top: 20px;
	text-align: center;
}
.content div {
	margin-top: 20px;
}
.aboutcontent {
	width: 70%;
	margin: 0 10%;
	padding-top: 20px;
}
.portfolio {
	width: 80%;
	margin: 0 5%;
	border-radius: 15px;
	text-align: justify;
}
.portfolio div {

}
.blog {
	width: 80%;
	margin: 0 5%;
	border-radius: 15px;
	text-align: justify;
}
.blog div {

}
footer div {
	width: 80%;
	margin: 0 10%;
}
footer ul {
	margin-left: 5px;
}
footer ul li {
	list-style-type: none;
	padding: 3px 0;
}
footer ul li a {
	color: #fff;
}
button {
	cursor: pointer;
	margin: 0 10%;
	text-decoration: underline;
	border: 0;
	background: none;
	padding: 15px 5px;
	font-weight: bold;
}
h1, button, nav {
	color: #1e78bd;
}
.cleardisc {
	list-style-type: none;
}
.mainphoto {
	margin-top: 10px;
}
.photoimg {
	width: 80%;
	margin: 10px 0;
	display: none;
}
footer {
	background: #1e78bd;
	padding-bottom: 50px;
}
.social {
	width: 40%;
}
.contactpage {
	width: 80%;
	margin: 0 10%;
	padding-top: 10px;
}
.contactpage h2 {
	width: 50%;
}
.contactinfo {
	width: 80%;
	margin: 0 10%;
}
.contactinfo fieldset {
	padding-top: 10px;
}
.contacttable tr td {
	padding: 3px 50px 5px 0px;
}
legend {
	padding: 10px 20px 0;
}
.button {
	margin-top: 20px;
	font-size: 14px;
	background: #fefefe; /* Old browsers */
background: -moz-linear-gradient(top,  #fefefe 0%, #dbdbdb 50%, #d1d1d1 51%, #e2e2e2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#e2e2e2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fefefe 0%,#dbdbdb 50%,#d1d1d1 51%,#e2e2e2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fefefe 0%,#dbdbdb 50%,#d1d1d1 51%,#e2e2e2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fefefe 0%,#dbdbdb 50%,#d1d1d1 51%,#e2e2e2 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fefefe 0%,#dbdbdb 50%,#d1d1d1 51%,#e2e2e2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
}
.fa-facebook-official {
	font-size: 50px;
	color: #fff;
}
.fa-twitter-square {
	font-size: 50px;
	color: #fff;
}
.fa-github {
	font-size: 50px;
	color: #fff;
}
.fa-envelope-square {
	font-size: 50px;
	color: #fff;
}
.accordion-header {
	background: #424242;
	color: #fff;
	padding: 5px;
	cursor: pointer;
}
.accordion-header:hover {
	background: #333;
}
.accordion-content {
	background: #eee;
	padding: 5px;
	display: none;
}
.float {
	float: left;
}
.aboutpic {
	margin-right: 20px;
}
.aboutword {
	margin-left: 20px;
}
.copy {
	width: 100%;
	margin: 0 40%;
}
@media (min-width: 660px) {
	.portfolio {
		width: 40%;
		float: left;
	}
	.blog {
		width: 40%;
		float: right;
	}
}
@media (min-width: 560px) {
	.break {
		display: block;
	}
}
@media (min-width: 526px) {

}
@media (min-width: 380px) {
	.main {
		-webkit-box-shadow: 2px 2px 2px 2px #787878;
		box-shadow: 2px 2px 2px 2px #787878;
		font-size: 20px;
	}
	.home {
		border-top: 2px solid #bd4646;
		border-left: none;
		padding: 6px;
	}
	.home:hover {
		background: #bd4646;
		transition: all 80ms ease;
	}
	.gallery {
		border-top: 2px solid #9d46bd;
		border-left: none;
		padding: 6px;
	}
	.gallery:hover {
		background: #9d46bd;
		transition: all 80ms ease;
	}
	.about {
		border-top: 2px solid #46bd57;
		border-left: none;
		padding: 6px;
	}
	.about:hover {
		background: #46bd57;
		transition: all 80ms ease;
	}
	.contact {
		border-top: 2px solid #ce9100;
		border-left: none;
		padding: 6px;
	}
	.contact:hover {
		background: #ce9100;
		transtion: all 80ms ease;
	}
	.main li {
		display: inline-block;
	}
	.main li a{
		display: inline-block;
		text-decoration: none;
		color: #000;
	}
	.photoimg {
		display: inline-block;
	}
	footer {
		margin-top: 50px;
	}
	footer div {
		width: 20%;
	}
}
