body {
	font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.clear {
	clear: both;
}
.center {
	text-align: center;
	margin: 0 auto;
}
.wrapper {
	width: 100%;
	margin: 0 auto;
}
h1 {
	font-size: 50px;
	text-align: center;
	padding: 20px 0;
	font-family: 'Playfair Display', serif;
}
h2 {
	font-size: 24px;
	text-align: center;
	font-family: 'Playfair Display', serif;
}
h3 {
	font-size: 28px;
	margin: 10px 0;
	font-family: 'Playfair Display', serif;
}
h4 {
	font-size: 20px;
	margin: 20px auto;
	font-family: 'Playfair Display', serif;
}
ul {
	list-style-type: none;
}
header {
	margin: 0 auto;
}
.headlogo {
	margin-bottom: -16px;
}
i {
	margin: 0 auto;
}
.main {
	text-align: center;
	background: #1e78bd;
}
.main ul {
	margin: 0 auto;
}
.main ul li {
	padding: 5px 0;
}
.main ul li:hover {
	cursor: pointer;
}
.main ul li a {
	color: #fff;
	padding: 10px;
	text-decoration: none;
}
.home {
	border-left: 5px solid #bd4646;
}
.home:hover {
	background: #bd4646;
	transition: all 80ms ease;
}
.gallery {
	border-left: 5px solid #9d46bd;
}
.gallery:hover {
	background: #9d46bd;
	transition: all 80ms ease;
}
.about {
	border-left: 5px solid #46bd57;
}
.about:hover {
	background: #46bd57;
	transition: all 80ms ease;
}
.contact {
	border-left: 5px solid #ce9100;
}
.contact:hover {
	background: #ce9100;
	transition: all 80ms ease;
}
.intro {
	background: #1e78bd;
	color: #fff;
	margin-top: 20px;
	text-align: center;
}
.section1 {
	margin: 20px 0px;
	padding-right: 30px;
}
.section1 div{
	width: 80%;
}
.content div {
	padding-top: 20px;
}
.portfolio div {
	width: 80%;
}
.blog div {
	width: 80%;
}
footer {
	background: #1e78bd;
}
footer div:nth-child(1) {
	padding: 5px;
}
footer ul {
	margin-left: 5px;
}
footer ul li {
	margin: 0 20px;
	list-style-type: disc;
}
footer ul li a {
	color: #fff;
}
button {
	cursor: pointer;
	margin: 0 auto;
	text-decoration: underline;
	border: 0;
	background: none;
	padding: 15px 5px;
	font-weight: bold;
	margin: 0 auto;
}
h1, button, nav {
	color: #1e78bd;
}
.cleardisc {
	list-style-type: none;
}
.fa-wifi {
	font-size: 30px;
	color: #1e78bd;
	padding: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.fa-paint-brush {
	font-size: 30px;
	color: #1e78bd;
	padding: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.fa-video-camera {
	font-size: 30px;
	color: #1e78bd;
	padding: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
@media (min-width: 660px) {

}
@media (min-width: 560px) {
	.blogfloat {
		float: left;
	}
	footer {
		display: block;
	}
	br {
		display: none;
	}
	.break {
		display: block;
	}
}
@media (min-width: 526px) {
	.floatfoot {
		float: left;
	}
}
@media (min-width: 380px) {
	.home {
		border-top: 2px solid #bd4646;
		border-left: none;
		padding: 6px;
	}
	.home:hover {
		background: #bd4646;
		transition: all 80ms ease;
	}
	.gallery {
		border-top: 2px solid #9d46bd;
		border-left: none;
		padding: 6px;
	}
	.gallery:hover {
		background: #9d46bd;
		transition: all 80ms ease;
	}
	.about {
		border-top: 2px solid #46bd57;
		border-left: none;
		padding: 6px;
	}
	.about:hover {
		background: #46bd57;
		transition: all 80ms ease;
	}
	.contact {
		border-top: 2px solid #ce9100;
		border-left: none;
		padding: 6px;
	}
	.contact:hover {
		background: #ce9100;
		transtion: all 80ms ease;
	}
		.main li {
		display: inline-block;
	}
	.main li a{
		display: inline-block;
		text-decoration: none;
		color: #000;
	}
}
